div .content{
    border-top: 212px;
    
    width: 1055px;
    height: 1500px;
    // margin: -1572px 0px 0px 464px;
    margin-left: 496px;
    border-radius: 8px;
    // background-color: rgb(47, 29, 209);
   
   
    background-color: aqua;
}